data
curation




0_gold_standard_xmi_07-06-2025.zip
0_txt_files_cleaned_07-06-2025.zip

2_clauses_and_NP_csv_07-06-2025.zip
3_llamaSauerkrautlm_literary_spwoe_json
notes.txt
3_llamaSauerkrautlm_literary_spwoe_csv_json_leftovers
3_llamaSauerkrautlm_literary_spwoe_csv_08-06-2025_15H16M.zip
4_pygamma_csv_annotator1_gold_standard_xmi
4_pygamma_csv_annotator15_llamaSauerkrautlm_literary_spwoe_csv
5_combined_annotator_data_for_pygamma_input
5_combined_annotator_data_for_pygamma
6_pygamma_output

_results
_Backup_2_clauses_and_NP_csv - Copy
3_LLM_literary_json_csv_10-06-2025_01H00M.zip
final_output_summary_08-06-2025_18H21M.csv
final_output_summary_08-06-2025_18H21M.csv
model_prompts_role_log_08-06-2025_18H21M.csv
requirements_08-06-2025_18H21M.txt
4_pygamma_csv_annotator11_mistralLargeInstruct_literary_spwoe_csv
5_combined_annotator_data_for_pygammax
3_mistralLargeInstruct_literary_spwoe_json
.venv

0_gold_standard_xmi
0_txt_files_cleaned
1_conll_files
2_clauses_and_NP_csv
3_mistralLargeInstruct_literary_spwoe_csv
3_mistralLargeInstruct_literary_spwoe_csv_json_leftovers